PORT=3000

# DB Variables
DB_NAME=nombre-base-de-datos
DB_USER=su-nombre-usuario
DB_HOST=localhost
DB_PASS=contraseña-a-elección
DB_PORT=5432
NODE_ENV=development

# Jwt & Bcrypt
HASH_SALT=tu-valor-de-sal
JWT_SECRET=jwt-secreto


# Swagger auth
SWAGGER_USER=create-username
SWAGGER_PASSWORD=create-password


